@import "./global.scss";

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  //padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 10vh auto;
    padding: 32px 32px 16px 32px;
    border: 1px solid #888;
    width: 80%;
    max-height: calc(100% - 20vh);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .content {
      overflow: auto;
      flex: 1;
      > header {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        color: green;
      }
      .title {
        text-align: center;
        font-weight: bold;
        padding-top: 16px;
        padding-bottom: 12px;
      }
    }
    button {
      margin-top: 16px;
    }
  }
  /* The Close Button */
  .accept {
    color: white;
    background-color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 5px;
  }
}

section.hero {
  background-image: url("images/verne-ho-0LAJfSNa-xQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fluid-type(375px, 1200px, 8px, 20px);
  .shading {
    background-color: #0006;
    color: white;
    padding: 4em 8vw;
    text-align: center;
    max-width: 100%;
    header {
      text-transform: uppercase;
      font-size: 4em;
    }
    h1 {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 2.25em;
      margin: 0;
      span {
        display: inline-block;
      }
    }
    .divider {
      width: 32em;
      height: 4px;
      background-color: white;
      display: inline-block;
      margin: 24px;
    }
    h2 {
      font-weight: normal;
      font-size: 1.75em;
      margin: 0;
    }
  }
}

#overview {
  .results {
    background: linear-gradient(-45deg, #aaa, white);
    // color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 100px 32px;
    text-align: center;
  }
  .container {
    background: green;
    .img-container {
      background: url("images/tech-daily--A_Sod5xVDY-unsplash.jpg");
      background-size: cover;
      background-position: center;
      height: 300px;
    }

    .content {
      padding: 32px;
      color: white;
      line-height: 1.5;
      @include fluid-type(375px, 750px, 18px, 24px);
    }

    @media only screen and (max-width: 749px) {
      display: flex;
      flex-direction: column-reverse;
    }

    @media only screen and (min-width: 750px) {
      .img-container {
        float: left;
        clip-path: polygon(
          0 0,
          calc(80% - 24px) 0,
          calc(100% - 24px) 100%,
          0 100%
        );
        shape-outside: polygon(0 0, 80% 0, 100% 100%, 0 100%);
        width: 45%;
      }
      .content {
        max-height: 300px;
        box-sizing: border-box;
        @include fluid-type(750px, 1600px, 18px, 26px);
      }
      &::after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
}

#platform-services {
  background-image: url("Images/milk-01.png");
  background-position: center;
  background-size: cover;
  padding: 100px 32px;
  header {
    font-weight: bold;
    text-align: center;
  }
  > header {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > div {
      padding: 32px;
      background-color: white;
      width: 500px;
      margin: 16px;
      line-height: 1.5;
      > img {
        width: 48px;
        display: block;
        margin: 0 auto;
      }
      > header {
        margin: 4px 0px 16px;
        font-size: 24px;
      }
    }
  }
}

#why-wolver-hill {
  background-image: url("images/clay-banks-u27Rrbs9Dwc-unsplash.jpg");
  //height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 100px 32px;
  header {
    font-weight: bold;
    text-align: center;
  }
  > header {
    font-size: 32px;
    margin-bottom: 32px;
    color: white;
  }
  .reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > div {
      padding: 32px;
      background-color: white;
      width: 500px;
      margin: 16px;
      line-height: 1.5;
      > img {
        width: 48px;
        display: block;
        margin: 0 auto;
      }
      > header {
        margin: 4px 0px 16px;
        font-size: 24px;
      }
    }
  }
}

#due-diligence {
  background-image: url("Images/matthew-henry-VviFtDJakYk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 32px;
  .dd-shading {
    background-color: #0006;
    color: white;
    padding: 4em 8vw;
    max-width: 100%;
    > header {
      font-size: 32px;
      margin-bottom: 32px;
      color: white;
      text-align: center;
    }
  }
  header {
    font-weight: bold;
  }
  .dd-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > div {
      padding: 32px;
      background-color: #0006;
      color: white;
      width: 500px;
      margin: 16px;
      line-height: 1.5;
      text-align: left;
      > header {
        margin: 4px 0px 16px;
        font-size: 24px;
        text-align: center;
      }
    }
  }
}

#team {
  background-image: url("Images/milk-01.png");
  background-position: center;
  background-size: cover;
  padding: 100px 32px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    > header {
      font-size: 32px;
      font-weight: bold;
      color: $primary-color;
      text-align: center;
      margin-bottom: 32px;
    }
  }
  .members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;

    > div {
      flex: 1 1 400px;
      border-top: 1px solid black;
      max-width: 600px;

      > header {
        display: flex;
        align-items: center;
        padding: 16px 0;

        cursor: pointer;

        img {
          border-radius: 50%;
          width: 100px;
          margin-right: 32px;
        }
        .info {
          flex: 1;
          display: flex;
          flex-direction: column;

          .name {
            color: $primary-color;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 16px;
          }
          .title {
            color: black;
          }
        }

        .expander {
          font-size: 40px;
          font-weight: 100;
          color: black;
        }
      }
      .collapsible {
        max-height: 0;
        transition: max-height 0.3s;
        overflow: hidden;

        .inner {
          padding: 16px;
          line-height: 1.5;
        }
      }

      &.open {
        > header {
          .expander::before {
            content: "–";
          }
        }
        .collapsible {
          max-height: 500px;
        }
      }
      &:not(.open) {
        > header {
          .expander::before {
            content: "+";
          }
        }
      }
    }
  }
}

#old-team {
  background-color: green;
  padding: 32px;
  > header {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 32px;
  }
  .members {
    background-color: #f8f8f8;
    padding: 32px;
    > div {
      display: flex;
      align-items: center;
      margin: 32px;
      img {
        flex-shrink: 0;
      }
      .content {
        margin-left: 32px;
        > header {
          padding: 16px 0;
          color: green;
          font-size: 24px;
          font-weight: bold;
        }
        .bio {
          line-height: 1.5;
        }
      }
      &:nth-child(2n) {
        flex-direction: row-reverse;
        .content {
          margin: 0 32px 0 0;
          text-align: right;
        }
      }
    }
    img {
      border-radius: 50%;
      flex-shrink: 0;
      width: 200px;
    }
  }
}

#contact {
  display: flex;
  padding: 32px;
  background-color: black;
  color: #ccc;
  > * {
    flex: 1;
  }
  a {
    color: inherit;
  }
  .info {
    li {
      list-style-type: none;
      padding: 16px 0;

      span {
        width: 100px;
        display: inline-block;
      }
      &:not(:first-child) {
        border-top: 1px solid #ccc;
      }
    }
  }
}
