html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;
  --nav-height: 72px;
}

section::before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

nav {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: linear-gradient(black, transparent);
  height: 108px;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ccc;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav .logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .logo {
  width: 280px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

nav .links .container:hover a {
  opacity: 0.5;
}

nav .links .container a {
  padding: 8px 16px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

nav .links .container a:hover {
  opacity: 1;
}

nav .hamburger {
  display: none;
}

html:not([data-scroll="0"]) nav {
  height: var(--nav-height);
  background: white;
  color: #1a1a1a;
}

html:not([data-scroll="0"]) nav .logo {
  width: 200px;
}

@media screen and (max-width: 1250px) {
  nav .hamburger {
    z-index: 1;
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
    width: 51px;
    height: 51px;
    cursor: pointer;
  }
  nav .hamburger .bar {
    position: absolute;
    width: 41px;
    height: 2px;
    background: currentColor;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  nav .hamburger .bar:nth-child(1) {
    top: 10px;
    left: 5px;
  }
  nav .hamburger .bar:nth-child(2) {
    top: 23px;
    left: 5px;
  }
  nav .hamburger .bar:nth-child(2)::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 41px;
    height: 2px;
    background: currentColor;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
    pointer-events: none;
  }
  nav .hamburger .bar:nth-child(3) {
    top: 36px;
    right: 5px;
  }
  nav .links {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000c;
    pointer-events: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  }
  nav .links .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  nav .links .container a {
    font-size: 32px;
    padding: 16px 0;
  }
  nav.open {
    color: #ccc !important;
  }
  nav.open .hamburger .bar:nth-child(1), nav.open .hamburger .bar:nth-child(3) {
    width: 0;
  }
  nav.open .hamburger .bar:nth-child(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  nav.open .hamburger .bar:nth-child(2):after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  nav.open .links {
    pointer-events: initial;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.nav-offset {
  height: var(--nav-height);
}

#news > header {
  background-color: green;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 100px 32px;
}

#news a {
  color: inherit;
  text-decoration: none;
}

#news .news-cards {
  background-image: url("../Images/milk-01.png");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#news .news-cards .article {
  padding: 32px;
  background-color: white;
  width: 500px;
  margin: 16px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}

#news .news-cards .article .date {
  color: #16aa07;
  padding: 16px 0;
}

#news .news-cards .article > header {
  margin: 4px 0px 16px;
  font-size: 24px;
}

#news .news-cards .article:hover {
  -webkit-box-shadow: 0 0 16px 0 #0003;
          box-shadow: 0 0 16px 0 #0003;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
/*# sourceMappingURL=style.css.map */